/* ページ全体 */
body {
  font-family: "Yu Gothic", "Hiragino Kaku Gothic Pro", sans-serif;
  font-size: 22px;
  line-height: 1.9;
  background-color: #f2f1ef; /* 少しだけ暗めのグレー */
  color: #3b3b3b;
  margin: 0;
  pad
