/* ページ全体 */
body {
  font-family: "Yu Gothic", "Hiragino Kaku Gothic Pro", sans-serif;
  background-color: #f9f8f7; /* 背景色 */
  margin: 0;
  padding: 20px;
  color: #3b3b3b; /* 本文色 */
  line-height: 1.8;
  font-size: 19px; /* デスクトップ用フォントサイズ */
}

/* ページタイトル */
h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
  color: #3b3b3b;
}

/* 日記記事 */
article {
  margin-bottom: 40px;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto; /* 中央配置 */
}

/* 日付 */
article h2 {
  text-align: left !important;
  font-size: 22px;
  margin-bottom: 12px;
  color: #000000; /* 日付を黒に変更 */
}

/* 本文 */
article p {
  text-align: left;
  margin: 0;
  color: #3b3b3b;
  font-size: 19px; /* デスクトップ用 */
}

/
